nav {
    background-color: cadetblue ;
}

.barra_nera {
    height: 2rem ;
    width: 100% ;
}

.chevron {
    display: inline-block ;
    width: 10px ;
}

.lente {
    display: inline-block ;
    width: 20px ;
    margin-right: 1rem ;
}