body {
    font-family: Arial, Helvetica, sans-serif ;
}

nav {
    background-color: cadetblue ;
}

.barra_nera {
    height: 2rem ;
    width: 100% ;
}

.chevron {
    display: inline-block ;
    width: 10px ;
}

.lente {
    display: inline-block ;
    width: 20px ;
    margin-right: 1rem ;
}

.ms_wrapper_jumbo {
    width: 100% ;
    background-size: cover ;
    background-image: url(../img/jumbo-bg.png) ;
    background-position: center ;
    background-repeat: no-repeat ;
    padding: 14rem 0 0 0 ;
  
}

.ms_wrapper_two{
    width: 100% ;
    background-size: cover ;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg) ;
    background-position: center ;
    background-repeat: no-repeat ;
    padding: 10rem 0 0 0 ;

}

.ms_wrapper {
    width: 100% ;
}

.ms_chiaro {
    background-color: #bebcbb ;
}

.ms_scuro {
    background-color: #1f1f1f ;
}

.ms_blu_scuro {
background-color: #161c3b;
}

.ms_blu_chiaro {
    background-color: #00439c;

}

.ms_radius {
    border-radius: 10% ;
}


.ms_social {
    width: calc(100%/2 - 1rem) ;  
}

#sie-logo {
    width: 12rem;
}

#ps-logo-ft {
    width: 8rem ;
}



@media all and (min-width: 576px) {
    .ms_social {
        width: calc(100%/4 - 1rem) ;
     
    }
    
    #facebook {
        margin-right: 1rem ;
    }
}



