nav {
    background-color: cadetblue ;
}

.barra_nera {
    height: 2rem ;
    width: 100% ;
}

.chevron {
    display: inline-block ;
    width: 10px ;
}

.lente {
    display: inline-block ;
    width: 20px ;
    margin-right: 1rem ;
}

.ms_wrapper_jumbo {
    width: 100% ;
    background-size: cover ;
    background-image: url(../img/jumbo-bg.png) ;
    background-position: center ;
    background-repeat: no-repeat ;
    padding: 14rem 0 0 0 ;
  
}

.ms_wrapper {
    width: 100% ;
} 

.ms_radius {
    border-radius: 10% ;
}